In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("sales_weather.db")
cursor = conn.cursor()

In [3]:
# Customers table
cursor.execute("""
CREATE TABLE IF NOT EXISTS customers (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    email TEXT,
    phone TEXT,
    created_at TEXT
)
""")

In [4]:
# Payment Methods table
cursor.execute("""
CREATE TABLE IF NOT EXISTS payment_methods (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    method_name TEXT,
    active BOOLEAN
)
""")

In [5]:

# Sales Channels table
cursor.execute("""
CREATE TABLE IF NOT EXISTS sales_channels (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    channel_name TEXT,
    active BOOLEAN
)
""")

In [6]:
# Products table
cursor.execute("""
CREATE TABLE IF NOT EXISTS products (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    sku TEXT,
    category TEXT,
    base_price REAL,
    active BOOLEAN
)
""")

In [7]:
# Sales table
cursor.execute("""
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    customer_id INTEGER,
    sale_date TEXT,
    payment_method_id INTEGER,
    total_amount REAL,
    sales_channel_id INTEGER,
    FOREIGN KEY(customer_id) REFERENCES customers(id),
    FOREIGN KEY(payment_method_id) REFERENCES payment_methods(id),
    FOREIGN KEY(sales_channel_id) REFERENCES sales_channels(id)
)
""")
conn.commit()

In [8]:
# Sale Line Items table
cursor.execute("""
CREATE TABLE IF NOT EXISTS sale_line_items (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    sale_id INTEGER,
    product_id INTEGER,
    quantity INTEGER,
    unit_price REAL,
    line_total REAL,
    FOREIGN KEY(sale_id) REFERENCES sales(id),
    FOREIGN KEY(product_id) REFERENCES products(id)
)
""")

In [9]:
conn.commit()

In [10]:
# Customers
customers = [
    ("Alice Johnson", "alice@example.com", "1234567890", "2025-09-01"),
    ("Bob Smith", "bob@example.com", "9876543210", "2025-09-02"),
]
cursor.executemany("""
INSERT INTO customers (name, email, phone, created_at) 
VALUES (?, ?, ?, ?)
""", customers)

# Payment Methods
payment_methods = [
    ("Credit Card", 1),
    ("Cash", 1),
    ("UPI", 1)
]
cursor.executemany("""
INSERT INTO payment_methods (method_name, active) 
VALUES (?, ?)
""", payment_methods)

# Sales Channels
channels = [
    ("Online Store", 1),
    ("Retail Shop", 1)
]
cursor.executemany("""
INSERT INTO sales_channels (channel_name, active) 
VALUES (?, ?)
""", channels)

# Products
products = [
    ("Ice Cream", "SKU001", "Food", 50.0, 1),
    ("Umbrella", "SKU002", "Accessories", 200.0, 1),
    ("Cold Drink", "SKU003", "Beverages", 40.0, 1),
    ("Raincoat", "SKU004", "Clothing", 500.0, 1),
]
cursor.executemany("""
INSERT INTO products (name, sku, category, base_price, active) 
VALUES (?, ?, ?, ?, ?)
""", products)

# Sales
sales = [
    (1, "2025-09-01", 1, 270.0, 1),  # Alice bought Ice Cream + Umbrella
    (2, "2025-09-02", 2, 80.0, 2),   # Bob bought 2 Cold Drinks
    (1, "2025-09-03", 3, 650.0, 1),  # Alice bought Raincoat + Ice Cream
]
cursor.executemany("""
INSERT INTO sales (customer_id, sale_date, payment_method_id, total_amount, sales_channel_id) 
VALUES (?, ?, ?, ?, ?)
""", sales)

# Sale Line Items
sale_items = [
    (1, 1, 2, 50.0, 100.0),  # Ice Cream x2
    (1, 2, 1, 200.0, 200.0), # Umbrella x1
    (2, 3, 2, 40.0, 80.0),   # Cold Drink x2
    (3, 4, 1, 500.0, 500.0), # Raincoat x1
    (3, 1, 3, 50.0, 150.0),  # Ice Cream x3
]
cursor.executemany("""
INSERT INTO sale_line_items (sale_id, product_id, quantity, unit_price, line_total) 
VALUES (?, ?, ?, ?, ?)
""", sale_items)

conn.commit()